<a href="https://colab.research.google.com/github/dimasbayucmiiw/2025-Algoritma-Pemrograman/blob/main/Praktikum_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Praktikum

Perulangan For

In [ ]:
for i in range(1,6):
    print(i)

1
2
3
4
5

Perulangan While

In [ ]:
n = int(input("Masukkan angka:"))
while n > 0:
    print(n)
    n-=1

Masukkan angka:5
5
4
3
2
1

Nested Loop (Segitiga Bintang)

In [ ]:
for i in range (1,5):
    for j in range (i):
      print("*", end="")
    print()

*
**
***
****

Break

In [ ]:
for i in range (1,10):
    if i == 5:
      print("Angka 5 ditemukan")
      break

Angka 5 ditemukan

Continue

In [ ]:
for i in range(1,5):
    if i % 2 == 1:
      continue
    print(i)

2
4

For pada Dictionary

In [ ]:
data = {"Nama": "Andi","Umur":20,"Prodi":"TRK"}
for k, v in data.items():
  print(k,":",v)

Nama : Andi
Umur : 20
Prodi : TRK

For dengan Enumerate

In [ ]:
daftar =["Andi", "Budi", "Cici"]
for i, nama in enumerate(daftar, start=1):
  print(i,nama)

1 Andi
2 Budi
3 Cici

Kasir Multi-Item

In [ ]:
total = 0
while True:
  barang = input("Masukkan nama barang(ketik 'selesai' untuk berhenti):")
  if barang.lower() == "selesai":
    break
  harga = float(input(f"Masukkan harga {barang}:"))
  jumlah = int(input(f"Masukkan jumlah {barang}"))
  subtotal = harga * jumlah
  total += subtotal
print("\n===== Struk Belanja =====")
print(f"Total Belanja : Rp {total}")

Masukkan nama barang(ketik 'selesai' untuk berhenti):Buku
Masukkan harga Buku:50000
Masukkan jumlah Buku2
Masukkan nama barang(ketik 'selesai' untuk berhenti):Pulpen
Masukkan harga Pulpen:5000
Masukkan jumlah Pulpen3
Masukkan nama barang(ketik 'selesai' untuk berhenti):selesai

===== Struk Belanja =====
Total Belanja : Rp 115000.0

Penugasan

Menampilkan Deret Angka

In [ ]:
for i in range (3,31,3):
  print(i)

3
6
9
12
15
18
21
24
27
30

Hitung Faktorial

In [1]:
n = int(input("Masukkan bilangan:"))
faktorial = 1
i = 1
while i <= n:
  faktorial *= i
  i += 1
print(f"Faktorial dari {n} adalah {faktorial}")

Masukkan bilangan:5
Faktorial dari 5 adalah 120

Pola Segitiga Terbalik

In [ ]:
for i in range(5,0,-1):
  for j in range(i):
    print("*", end="")
  print()

*****
****
***
**
*

Cari Bilangan Prima dengan Break

In [2]:
n = int(input("Masukkan bilangan:"))
if n > 1:
  for i in range(2,n):
    if n % i == 0:
      print(f"{n} bukan bilangan prima (habis dibagi {i})")
      break
  else:
    print(f"{n} adalah bilanga prima")
else:
  print(f"{n} bukan bilangan prima")

Masukkan bilangan:2
2 adalah bilanga prima

Tampilkan Hanya Bilangan Genap dengan Continue

In [ ]:
for i in range(1,21):
  if i % 2 != 0:
    continue
  print(i)

2
4
6
8
10
12
14
16
18
20

Iterasi Dictionary Mahasiswa

In [ ]:
mahasiswa = {"Nama": "Budi","Umur":21,"Prodi":"Teknik Komputer"}
for k,v in mahasiswa.items():
  print(f"{k} : {v}")

Nama : Budi
Umur : 21
Prodi : Teknik Komputer

Enumerate Daftar Barang

In [ ]:
barang = ["Buku","Pensil","Tas"]
for i, item in enumerate(barang, start=1):
  print(f"{i} {item}")

1 Buku
2 Pensil
3 Tas

Studi Kasus-Kasir Diskon

In [ ]:
total = 0
while True:
  barang = input("Masukkan nama barang(ketik 'selesai' untuk berhenti):")
  if barang.lower() == "selesai":
    break
  harga = float(input(f"Masukkan harga {barang}: Rp "))
  jumlah = int(input(f"Masukkan jumlah {barang}:"))
  total += harga * jumlah
if total >= 200000:
    diskon = total * 0.1
    total -= diskon
    print(f"\nDiskon 10% diterapkan: Rp {diskon}")
else:
    print("\nTidak ada diskon.")

print("\n===== Struk Belanja =====")
print(f"Total Bayar : Rp {total}")

Masukkan nama barang(ketik 'selesai' untuk berhenti):Tas
Masukkan harga Tas: Rp 120000
Masukkan jumlah Tas:2
Masukkan nama barang(ketik 'selesai' untuk berhenti):Sepatu
Masukkan harga Sepatu: Rp 300000
Masukkan jumlah Sepatu:3
Masukkan nama barang(ketik 'selesai' untuk berhenti):selesai

Diskon 10% diterapkan: Rp 114000.0

===== Struk Belanja =====
Total Bayar : Rp 1026000.0