<a href="https://colab.research.google.com/github/dimasbayucmiiw/2025-Algoritma-Pemrograman/blob/main/Praktikum07.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Praktikum

Tuple:Data Tetap yang Tidak Bisa Diubah

In [ ]:
koordinat = (7.05,110.44)
print("Lintang:", koordinat[0])
print("Bujur:", koordinat[1])

Lintang: 7.05
Bujur: 110.44

Dictionary Dasar:Menyimpan Data Mahasiswa

In [ ]:
mahasiswa = {
    "NIM": "20251001",
    "Nama": "Andi",
    "Prodi": "TRK"
}
print("NIM:", mahasiswa["NIM"])
print("Nama:", mahasiswa["Nama"])
print("Prodi:", mahasiswa["Prodi"])

NIM: 20251001
Nama: Andi
Prodi: TRK

Operasi DIctionary

In [ ]:
mahasiswa = {
    "NIM": "20251001",
    "Nama": "Andi",
    "Prodi": "TRK"
}
mahasiswa["Umur"] = 20
mahasiswa["Prodi"] = "Teknik Komputer"
del mahasiswa["Umur"]
print(mahasiswa)

{'NIM': '20251001', 'Nama': 'Andi', 'Prodi': 'Teknik Komputer'}

Set dan Operasi Himpunan

In [ ]:
A = {1,2,3,4}
B = {3,4,5,6}
print("Union:", A | B)
print("Intersection:", A & B)
print("Difference:", A - B)

Union: {1, 2, 3, 4, 5, 6}
Intersection: {3, 4}
Difference: {1, 2}

Studi Kasus: Data Mahasiswa dan Mata Kuliah

In [ ]:
mhs1 = {"Algoritma","Matematika","Bahasa Inggris"}
mhs2 = {"Algoritma","Basis Data","Matematika"}
print("Mata kuliah Mhs1:", mhs1)
print("Mata kuliah Mhs2:", mhs2)
print("Mata kuliah yang sama:", mhs1 & mhs2)

Mata kuliah Mhs1: {'Bahasa Inggris', 'Matematika', 'Algoritma'}
Mata kuliah Mhs2: {'Matematika', 'Algoritma', 'Basis Data'}
Mata kuliah yang sama: {'Matematika', 'Algoritma'}

Studi Kasus Dictionary: Daftar Nilai Mahasiswa

In [ ]:
nilai_mahasiswa = {
    "Andi": 80,
    "Budi":75,
    "Cici":90
}
for nama, nilai in nilai_mahasiswa.items():
  print(f"{nama}: {nilai}")
rata = sum(nilai_mahasiswa.values()) / len(nilai_mahasiswa)
print(f"Rata-rata nilai: {rata:.2f}")

Andi: 80
Budi: 75
Cici: 90
Rata-rata nilai: 81.67

Penugasan

Tuple Sederhana

In [1]:
data_mahasiswa = ("Andi", 20, "Teknik Komputer")
print("Nama :", data_mahasiswa[0])
print("Umur :", data_mahasiswa[1])
print("Prodi :", data_mahasiswa[2])

Nama : Andi
Umur : 20
Prodi : Teknik Komputer

Tuple Tidak Bisa Dirubah

In [2]:
data = (1,2,3)
try:
  data[0] = 10
except TypeError as e:
  print("Error terjadi:", e)
  print("Penjalasan: Tuple bersifat immutable, elemen tidak bisa diubah")

Error terjadi: 'tuple' object does not support item assignment
Penjalasan: Tuple bersifat immutable, elemen tidak bisa diubah

Dictionary Dasar

In [3]:
buku = {
    "Judul": "Algoritma",
    "Penulis": "Munir",
    "Tahun": 2021
}
print("Judul :", buku["Judul"])
print("Penulis :", buku["Penulis"])
print("Tahun :", buku["Tahun"])

Judul : Algoritma
Penulis : Munir
Tahun : 2021

Operasi Dictionary

In [4]:
dosen = {
    "NIP": "12345",
    "Nama": "Budi",
    "Prodi": "TRK"
}
dosen["Umur"] = 40
dosen["Prodi"] = "Teknik Komputer"
del dosen["Umur"]
print("Data Dosen Akhir:",dosen)

Data Dosen Akhir: {'NIP': '12345', 'Nama': 'Budi', 'Prodi': 'Teknik Komputer'}

Set dan Himpunan

In [5]:
A = {"Matematika", "Algoritma", "Bahasa Inggris"}
B = {"Algoritma","Basis Data", "Matematika"}
print("Union(Gabungan):", A | B)
print("Intersection(Irisan):", A & B)
print("Dfference(Selisih A-B)", A - B)

Union(Gabungan): {'Matematika', 'Bahasa Inggris', 'Algoritma', 'Basis Data'}
Intersection(Irisan): {'Algoritma', 'Matematika'}
Dfference(Selisih A-B) {'Bahasa Inggris'}

Studi Kasus Dictionary

In [7]:
nilai_mahasiswa = {
    "Andi": 85,
    "Budi": 90,
    "Cici": 78
}
print("Daftar Nilai Mahasiswa:")
for nama, nilai in nilai_mahasiswa.items():
  print(f"{nama}: {nilai}")
rata = sum(nilai_mahasiswa.values()) / len(nilai_mahasiswa)
print(f"Rata-rata nilai:{rata:.2f}")

Daftar Nilai Mahasiswa:
Andi: 85
Budi: 90
Cici: 78
Rata-rata nilai:84.33

Studi Kasus Set-Klub Mahasiswa

In [8]:
klub_A = {"Andi", "Budi", "Cici"}
klub_B = {"Cici", "Deni", "Eka"}
print("Seluruh anggota (union):", klub_A | klub_B)
print("Anggota kedua klub (intersection):", klub_A & klub_B)
print("Hanya di klub A (difference):", klub_A - klub_B)

Seluruh anggota (union): {'Cici', 'Deni', 'Andi', 'Eka', 'Budi'}
Anggota kedua klub (intersection): {'Cici'}
Hanya di klub A (difference): {'Budi', 'Andi'}