<a href="https://colab.research.google.com/github/dimasbayucmiiw/2025-Algoritma-Pemrograman/blob/main/Praktikum_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Hasil Praktikum

In [ ]:
umur = 20
print("umur:",umur,"->",type(umur))
tinggi = 170.5
print("Tinggi:",tinggi,"->",type(tinggi))
nama = "Andi"
print("Nama:",nama,"->",type(nama))
is_mahasiswa = True
print("Status Mahasiswa:", is_mahasiswa,"->", type(is_mahasiswa))
nilai = [80,85,90]
print("Nilai:",nilai,"->",type(nilai))
koordinat = (10,20)
print("Koordinat:",koordinat,"->",type(koordinat))
mahasiswa = {"nama": "Andi","umur":20,"prodi":"TRK"}
print("Data Mahasiswa:",mahasiswa,"->",type(mahasiswa))
hobi = {"membaca","olahraga","musik"}
print("Hobi:",hobi,"->",type(hobi))

umur: 20 -> <class 'int'>
Tinggi: 170.5 -> <class 'float'>
Nama: Andi -> <class 'str'>
Status Mahasiswa: True -> <class 'bool'>
Nilai: [80, 85, 90] -> <class 'list'>
Koordinat: (10, 20) -> <class 'tuple'>
Data Mahasiswa: {'nama': 'Andi', 'umur': 20, 'prodi': 'TRK'} -> <class 'dict'>
Hobi: {'olahraga', 'membaca', 'musik'} -> <class 'set'>

In [2]:
nama = input("Masukkan nama Anda:")
umur = int(input("Masukkan umur Anda:"))
tinggi = float(input("Masukkan tinggi (cm):"))
print("Halo,",nama,"umur Anda:",umur,)
print("Halo,",nama,"umur Anda:",umur,"tahun,tinggi:",tinggi,"cm")
print(f"Halo {nama},umur Anda {umur} tahun,tinggi {tinggi} cm")

Masukkan nama Anda:Dimas
Masukkan umur Anda:18
Masukkan tinggi (cm):145
Halo, Dimas umur Anda: 18
Halo, Dimas umur Anda: 18 tahun,tinggi: 145.0 cm
Halo Dimas,umur Anda 18 tahun,tinggi 145.0 cm

In [3]:
a = 15
b = 14
print("a + b =",a + b)
print("a - b =",a - b)
print("a * b =",a * b)
print("a / b =",a / b)
print("a // b =",a // b)
print("a % b =",a % b)
print("a ** b =",a ** b)

a + b = 29
a - b = 1
a * b = 210
a / b = 1.0714285714285714
a // b = 1
a % b = 1
a ** b = 29192926025390625

In [4]:
x = 10
y = 20
print("x == y :",x == y)
print("x != y :",x != y)
print("x < y :",x < y)
print("x > y :",x > y)
print("x <= y :",x <= y)
print("x >= y :",x >= y)

x == y : False
x != y : True
x < y : True
x > y : False
x <= y : True
x >= y : False

In [6]:
a = True
b = False
print("a and b =", a and b)
print("a or b =", a  or b)
print("not a =", not a)
nilai = int(input("Masukkan nilai ujian:"))
hadir = int(input("Masukkan jumlah kehadiran:"))
lulus_nilai = nilai >= 60
lulus_hadir = hadir>= 12 #dari 16 pertemuan
if lulus_nilai and lulus_hadir:
  print("Status: LULUS")
else:
  print("Status; TIDAK LULUS")

a and b = False
a or b = True
not a = False
Masukkan nilai ujian:85
Masukkan jumlah kehadiran:50
Status: LULUS

In [8]:
barang = input("Masukkan nama barang:")
harga = float(input("Masukkan harga barang:"))
jumlah = int(input("Masukkan jumlah barang:"))
total = harga * jumlah
#Aturan diskon
if total >= 500000:
  diskon = 0.2
elif total >= 250000:
  diskon = 0.1
else:
  diskon = 0
potongan = total * diskon
bayar = total - potongan
print("\n===== Struk Belanja =====")
print(f"Barang : {barang}")
print(f"Jumlah : {jumlah}")
print(f"Total : Rp {total}")
print(f"Diskon : {diskon * 100}%")
print(f"bayar : Rp {bayar}")

Masukkan nama barang:Power Bank
Masukkan harga barang:200000
Masukkan jumlah barang:1

===== Struk Belanja =====
Barang : Power Bank
Jumlah : 1
Total : Rp 200000.0
Diskon : 0%
bayar : Rp 200000.0

Penugasan

Identitas Mahasiswa

In [9]:
nama = "Dimas Bayu Pratama"
umur = 18
tinggi = 145
status_aktif = True
print(f"Nama Mahasiswa: {nama}")
print(f"umur: {umur} tahun")
print(f"Tinggi Badan: {tinggi} cm ")
print(f"Status Aktif: {status_aktif}")

Nama Mahasiswa: Dimas Bayu Pratama
umur: 18 tahun
Tinggi Badan: 145 cm
Status Aktif: True

Operasi Aritmatika

In [10]:
a = int(input("Masukkan bilangan pertama:"))
b = int(input("Masukkan bilangan kedua:"))
print(f"Hasil Penjumlahan : {a + b}")
print(f"Hasil Pengurungan : {a - b}")
print(f"Hasil Perkalian : {a * b}")
print(f"Hasil pembagian : {a / b}")
print(f"Sisa Bagi (modulo) : {a % b}")
print(f"Perpangkatan : {a ** b}")

Masukkan bilangan pertama:4
Masukkan bilangan kedua:5
Hasil Penjumlahan : 9
Hasil Pengurungan : -1
Hasil Perkalian : 20
Hasil pembagian : 0.8
Sisa Bagi (modulo) : 4
Perpangkatan : 1024

Konversi Nilai

In [11]:
angka = float(input("Masukkan angka desimal:"))
print(f"Nilai dalam bentuk integer : {int(angka)}")
print(f"Nilai dalam bentuk string : {str(angka)}")
print(f"Nilai dibulatkan (2 diigit) : {round(angka, 2)}")

Masukkan angka desimal:3.5
Nilai dalam bentuk integer : 3
Nilai dalam bentuk string : 3.5
Nilai dibulatkan (2 diigit) : 3.5

Operator Relasional

In [12]:
x = float(input("Masukkan bilangan pertama:"))
y = float(input("Masukkan bilangan kedua:"))
print(f"{x} == {y} : {x == y}")
print(f"{x} != {y} : {x != y}")
print(f"{x} < {y} : {x < y}")
print(f"{x} > {y} : {x > y}")
print(f"{x} <= {y} : {x <= y}")
print(f"{x} >= {y} : {x >= y}")

Masukkan bilangan pertama:25
Masukkan bilangan kedua:45
25.0 == 45.0 : False
25.0 != 45.0 : True
25.0 < 45.0 : True
25.0 > 45.0 : False
25.0 <= 45.0 : True
25.0 >= 45.0 : False